*{
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.navBar{
  background-color: rgb(229, 205, 175);
  color: white;
  height: 75px;
  width: 100%;
}

.naglowekFilmow{
  background-color: rgb(187, 167, 143);
  color: white;
  height: 20px;
  width: 100%;
}

.wysFilmyDiv{
  background-color: rgb(181, 158, 131);
  color: black;
  width: 100%;
  padding-left: 15px;
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.test{
  margin-right: 10px;
  margin-bottom: 17px;
  height: 200px;
  width: 200px;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
}

.nazwaFilm{
  width: 100%;
  text-align: center;
}

.stopka{
  width: 100%;
  height: 100px;
  background-color: rgb(229, 205, 175);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#h1Stopka{
  width: 100%;
  text-align: center;
}